<div class="model-link">
  {% if model %}
    <div>{{ model }}</div>
  {% endif %}
  {% if github %}
    <a href="https://github.com/{{ github }}" class="icon"><i class="fa fa-brands fa-github"></i></a>
  {% endif %}
  {% if huggingface %}
    <a href="https://huggingface.co/{{ huggingface }}" class="icon"><img src="/modules/mof/assets/huggingface.svg"></a>
  {% endif %}
</div>
